body {
    margin: 0;
    background-color: #39289F;
    color: white;
    position: relative;
}

/*------------------- header ------------------- */
header {
    background-color: #39289F;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    z-index: 10;
}

.nav li {
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.nav a:hover {
    background: orange;
    text-decoration: underline
}

@media all and (max-width: 800px) {
    .nav {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .nav {
        flex-flow: column wrap;
        padding: 0;
    }

    .nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav li:last-of-type a {
        border-bottom: none;
    }
}

.contact-button {
    background-color: #FA9021;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    margin-right: 0;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.img-controller {
    position: absolute;
    top: 400%;
    right: -90px;
    transform: translateY(-50%);
    z-index: 0;
    max-width: 60%;
}

.img-controller img {
    max-width: 100%;
    height: auto;
}
/*-------------------main---------------------*/

/*-------------------introduction---------------------*/
.controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.text-controller {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 50px;
}

.controller h3 {
    color: #E87D0E;
    text-shadow:
        -2px -1px 0 #000,
        1px -1px 0 #000,
        -2px 1px 0 #000,
        1px 1px 0 #000;
}

.controller h1 {
    font-size: 50px;
}

.controller p {
    font-size: 20px;
}

.controller-button {
    background: linear-gradient(45deg, #FA8305, #FB9E3C);
    color: white;
    padding: 15px 25px;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    max-width: 200px;
}

.text-controller h1, .text-controller p, .controller-button {
    margin-bottom: 50px; 
}

/*------------------- Trending Games ------------------- */

.title-trending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}

.title-trending h2 {
    margin: 0;
    margin-right: 10px;
}

.button-SeeAll {
    background-color: #422F9C;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 10px;
}

.images-trending {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.followers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.fire-list {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.fire-list img {
    margin-right: 10px;
}

/*------------------- Spider-man Banner ------------------- */

.spider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 5%;
}

.spider h2 {
    text-align: center;
    margin-bottom: 20px;
    line-height: 2.0;
}

.spider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.spider-text {
    width: 100%;
    padding: 20px;
}

.spider-text h3 {
    margin-bottom: 10px;
}

.spider-text p {
    margin-bottom: 20px;
}

.spider-images {
    position: relative;
    width: 100%;
}

.img-banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.img-balls {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    max-width: 20%;
    height: auto;
    z-index: 0;
}

/*------------------- footer ------------------- */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-text p {
    margin: 50px 0 50px 0;
    word-break: break-word;
}

.footer-links ul,
.footer-contact p {
    margin: 0;
    padding: 0;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    clear: both;
}

.footer-contact p {
    margin-top: 50px;
}

.footer-social {
    margin-top: 8%;
}