body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #39289F;
    color: white;
}

/*------------------- header ------------------- */
header {
    background-color: #39289F;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li {
    margin: 0;
    font-size: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.contact-header {
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 40px;
}
.contact-button {
    background-color: orange;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

/*------------------- footer ------------------- */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-text p {
    margin: 50px 0 50px 0 ;
    word-break: break-word;
}

.footer-links ul, .footer-contact p {
    margin: 0;
    padding: 0;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    clear: both;
}

.footer-contact p {
    margin-top: 50px;
}

.footer-social {
    margin-top: 8%;
}
