/*---------------------Introduction-----------------*/
.contact-body {
    margin: 0;
    background: linear-gradient(180deg, #2211E7, #383837);
    color: white;
    position: relative;
}

.introduction-map {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; 
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 5%;
}

.contact-cor {
    color: #E47500;
    font-weight: bold;
}

.world-map {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.world-map img {
    max-width: 100%;
    height: auto;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 5%;
}

.contact-section > div {
    flex: 1;
    padding: 15px;
    position: relative;
}
s
.follow-us p{
    display: flex;
    margin-left: 25%;
}

.follow-us img {
    max-width: 75px;
}

.contact-info,.location-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info img,
.location-info img {
    max-width: 35px;
    margin-right: 10px;
}

.contact-info span,
.location-info span {
    vertical-align: middle;
}

/*---------------------Form-----------------*/

.form {
    background-image: url("../images/background-forms.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-form {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    flex-direction: column;
    text-align: center;
}

.contact-form {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #FFFFFF;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    background-color: #2c2420;
    color: white;
}

.form-group.inline {
    display: flex;
    gap: 40px;
}

.form-group.inline > div {
    flex: 1;
}

textarea#message {
    height: 200px;
}

.form-group.button-group {
    text-align: right;
}

.form-group button {
    padding: 17px 35px;
    font-size: 15px;
    background-color: #DC7000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: right; 
}

.form-group button:hover {
    background-color: #d06600;
}


