body {
    margin: 0;
    background: linear-gradient(180deg, #39289F, #422F9C);
    color: white;
    position: relative;
}

.controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 6%;
}

.text-controller {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 50px;
}

.controller h3 {
    color: #E87D0E;
    text-shadow:
        -2px -1px 0 #000,
        1px -1px 0 #000,
        -2px 1px 0 #000,
        1px 1px 0 #000;
}

.controller h1 {
    font-size: 50px;
}

.controller p {
    font-size: 20px;
}

.controller-button {
    background: linear-gradient(45deg, #FA8305, #FB9E3C);
    color: white;
    padding: 15px 25px;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    max-width: 200px;
}

.controller-button:hover {
    background: linear-gradient(45deg, #FB9E3C, #FA8305);
}

.text-controller h1, .text-controller p, .controller-button {
    margin-bottom: 50px; 
}


.trending-games {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.title-trending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1190px;
    width: 120%;
    box-sizing: border-box;
}

.title-trending h2 {
    margin: 0;
    margin-right: 10px;
}

.button-SeeAll {
    background-color: #422F9C;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 10px;
}

.button-SeeAll:hover {
    background: orange;
    text-decoration: underline
}

.images-trending {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    max-width: 1190px;
    width: 100%;
    box-sizing: border-box;
}

.images-trending img {
    margin: 10px;
}

.followers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    max-width: 1190px;
}

.fire-list {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.fire-list img {
    margin-right: 10px;
}


.spider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.spider h2 {
    text-align: center;
    margin-bottom: 20px;
    line-height: 2.0;
}

.spider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.spider-text {
    width: 100%;
    padding: 20px;
}

.spider-text h3 {
    margin-bottom: 10px;
}

.spider-text p {
    margin-bottom: 20px;
}

.spider-images {
    position: relative;
    width: 100%;
}

.img-banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 10;
}

.img-balls {
    position: absolute;
    top: 2%;
    right: 10%;
    transform: translateY(-50%);
    max-width: 20%;
    height: auto;
    z-index: 0;
}

.mountain {
    background-image: url("../images/img-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-mountain {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
    line-height: 2.0;
}

.text-mountain h3 {
    font-size: 35px;
}

.text-mountain h2{
    margin-bottom: 50px;
}

.icons-mountain-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 20px;
    margin-bottom: 100px;
}

.icons-mountain-bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
    margin-bottom: 100px;
}

.item-mountain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.item-mountain img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.item-mountain p {
    margin: 5px 0;
    color: white;
}

.item-mountain .arrow {
    width: 20px;
    height: auto;
    margin-top: 10px;
}


.recent-project {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.text-project {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
    line-height: 2.0;
}

.img-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-project-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-project-row img {
    max-width: 100%;
    height: auto;
}

.button-project-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 30vh;

}

.button-project {
    background-color: #422F9C;
    color: white;
    padding: 20px 35px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 10px;
}

.button-project:hover {
    background: orange;
    text-decoration: underline
}
